.wrapper {
    flex-grow: 4;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    height: 100%;
}

.child-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.university {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.name {
    font-size: 1.5vw;
    font-weight: bold;
    opacity: 0;
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.course {
    font-size: 1.3vw;
    opacity: 0;
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.duration {
    font-size: 1.2vw;
    opacity: 0;
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.wam {
    font-size: 1vw;
    opacity: 0;
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}